@import "../../styles/variables.scss";

// Header stats styling
.headerStats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  margin: 32px 0;

  // Max width 635px
  @media screen and (max-width: 635px) {
    margin-top: 36px !important;
  }

  .contentPrice,
  .contentInfoContainer {
    display: flex;
    align-items: flex-start;
  }

  .contentHeader {
    background: $ligh-gray;
    border: 1px solid #e8eaee;
    border-radius: 8px;
    padding: 12px;

    .contentInfoContainer {
      justify-content: space-between;

      h2 {
        color: $purple-dark;
        font-size: 14px;
      }
    }

    .contentPrice {
      margin-top: 8px;
      span {
        color: $dark-purple;
        font-size: 24px;
        font-weight: 700;
      }

      .gainPrice {
        color: $green;
        font-weight: 400;
        font-size: 14px;
        margin-left: 4px;
      }

      .inactive {
        color: red;
      }
    }
  }
}
