// Nunito Sans Serif
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// Styling for global for the App.js
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// App
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Content area increases as viewport increases, max-width: 1424px
.container {
  max-width: 1424px;
  margin: 0 auto;
}

// Carousel styling
.carousel,
.carousel-slider,
.carousel-root {
  height: 100%;
  width: calc(100vw - 90px) !important;

  // Max width 635px
  @media screen and (max-width: 635px) {
    width: calc(100vw - 35px) !important;
  }
}

// Remove carousel status e.g 1 of 4
.carousel-status {
  display: none;
}

// Flex if loading is true
.flex-position {
  display: flex;
  justify-content: center;

    // Max width 635px
    @media screen and (max-width: 635px) {
      margin-top: 120px;
    }
}

// Carousel dots
.control-dots {
  .dot {
    box-shadow: none !important;
    background: #d7dfe7 !important;
  }
  .dot.selected {
    background: #6b57b8 !important;
  }
}
