@import "../../styles/variables.scss";

// Content stylings
.content {
  flex: 0.875;
  width: 100%;
  padding: 40px 44px;
  background: #fff;

  .contentPoolTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 28px;
      color: $purple-dark;
    }

    .contentAddress {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #fff;
      padding: 8px 12px;
      background: $blue;
      font-weight: 700;
      border-radius: 50px;
      cursor: pointer;
      transition: 350ms ease;

      img {
        margin-right: 4px;
      }

      svg {
        margin: 0 4px;
      }

      p {
        max-width: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover {
        background: $blue;
      }
    }
  }
}
