@import "../../styles/variables.scss";

// Content stylings
.content {
  flex: 0.875;
  width: 100%;
  padding: 40px 44px;
  background: #fff;

  // Max width 1280px
  @media screen and (max-width: 1280px) {
    flex: 1;
  }

  // Max width 635px
  @media screen and (max-width: 635px) {
    padding: 16px;
  }

  .contentPoolTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Max width 635px
    @media screen and (max-width: 635px) {
      margin-top: 32px;
    }

    h1 {
      font-size: 28px;
      color: $purple-dark;

      // Max width 635px
      @media screen and (max-width: 635px) {
        font-size: 20px;
      }
    }
  }
}

.contentAddress {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  padding: 8px 12px;
  background: $blue;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;

  // Max width 635px
  @media screen and (max-width: 635px) {
    padding: 4px 8px;
  }

  img {
    margin-right: 4px;
  }

  svg {
    margin: 0 4px;
  }

  p {
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
