@import "../../styles/variables.scss";

// Table Pool Styling
.tablePool {
  margin-top: 16px;
  z-index: 100 !important;

  // Max width 635px
  @media screen and (max-width: 635px) {
    margin-top: 0px;
  }

  .tablePoolPages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // Max width 635px
    @media screen and (max-width: 635px) {
      justify-content: center;
    }

    p {
      color: $gray;
      font-size: 12px;
      // Max width 635px
      @media screen and (max-width: 635px) {
        display: none;
      }
    }

    .tablePoolPageNavigate {
      display: flex;
      align-items: center;
      color: $purple-dark;
      font-size: 14px;

      svg {
        margin: 0 12px;
        cursor: pointer;
      }
    }
  }

  .tablePoolTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 18px;
      color: $purple-dark;
    }

    h2 {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $purple;
      cursor: pointer;
      svg {
        margin-left: 8px;
      }
    }
  }

  table {
    margin: 16px 0;
    width: 100%;
    border-collapse: collapse;
    background: $ligh-gray-300;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    thead {
      border: 1px solid transparent;
      tr {
        th {
          padding: 12px;
          font-size: 12px;

          svg {
            cursor: pointer;
            margin-bottom: -4px;
            margin-left: 4px;
          }

          span {
            color: $purple;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      th:first-child {
        text-align: left;
      }

      .poolFeeMainTable {
        // Max Width screen 1050px
        @media screen and (max-width: 1050px) {
          display: none;
        }
      }

      .tokenEnteredMainTable {
        // Max Width screen 835px
        @media screen and (max-width: 835px) {
          display: none;
        }
      }

      .poolGainTable {
        // Max Width screen 635px
        @media screen and (max-width: 635px) {
          text-align: right;
        }
      }
    }
  }
}

.pool {
  background: $ligh-gray;
  border-top: 1px solid $ligh-gray-300;
  border-left: 1px solid $ligh-gray-300;
  border-right: 1px solid $ligh-gray-300;

  .poolName {
    display: flex;
    align-items: center;
  }

  td {
    padding: 12px;
  }

  .poolImage {
    img {
      position: relative;
      border-radius: 50%;
      width: 24px;
      margin-right: -12px;
      filter: drop-shadow(0px 1px 2px rgba(27, 49, 85, 0.24));
    }

    img:first-child {
      z-index: 5;
    }
  }

  .poolNameInfo {
    margin-left: 26px;
    cursor: pointer;
    p {
      font-weight: 700;
      color: $purple;
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      color: $gray;
      font-size: 12px;
    }
  }

  .poolCurrentTokenTable {
    // Max Width screen 850px
    @media screen and (max-width: 850px) {
      display: none;
    }

    .poolCurrentToken {
      display: flex;
      align-items: center;
      justify-content: center;

      .poolToken {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 12px;
        font-size: 14px;

        p {
          color: $purple-dark;
        }

        span {
          color: $green;
          margin-top: 4px;
          font-weight: 700;
        }

        .inactive {
          color: $red;
        }
      }
    }
  }

  .poolFeeTable {
    // Max Width screen 1050px
    @media screen and (max-width: 1050px) {
      display: none;
    }

    .poolFee {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;

      p {
        color: $purple-dark;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        color: $green;
        font-weight: 700;
        margin-top: 4px;
      }
    }
  }

  .poolGain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    // Max width 635px
    @media screen and (max-width: 635px) {
      margin-left: auto;
      align-items: flex-end;
      width: fit-content;
    }

    .currentAvailable {
      color: $purple-dark;
      font-weight: 700;
    }

    span,
    .currentGainedPool {
      color: $green;
      font-weight: 700;
      margin-top: 4px;
    }

    .inactive {
      color: $red;
    }
  }

  .poolGainButtonTable {
    // Max width 1495px
    @media screen and (max-width: 1495px) {
      display: none;
    }

    .poolButtons {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        outline-width: 0;
        border: none;
        font-size: 14px;
        margin: 0 8px;
        font-weight: 700;
        padding: 4px 12px;
        border-radius: 50px;
        cursor: pointer;
      }

      .stats {
        background: transparent;
        border: 1px solid $purple;
        color: $purple;
      }

      .details {
        background: $purple;
        border: 1px solid transparent;
        color: #fff;
      }
    }
  }
}
